body {
    padding: 50px;
    font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
    text-align: center;
    background-color: #fff;
}

a {
  color: #00B7FF;
}

form{
    text-align: center;
}
#emls{
    display: inline;
    height: 200px;
    width: 600px;
    background-color: #fafbfc;
}

#text{
    color: green;
    background-color: #000000
}

#stat{
    text-align: center;
    display: none;
}